.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    height: 60px; /* Asegúrate de establecer una altura si aún no la tienes */
}

.home-icon {
    position: absolute;
    left: 30px; /* Ajusta este valor para el espacio que desees desde el borde izquierdo */
    cursor: pointer; /* Añade un cursor para hacer visible que es clickeable */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
}

.search-box {
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 600px; /* Máximo ancho para pantallas grandes */
    height: 50px; /* Altura del contenedor */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    background-color: white; /* Color de fondo */
}

.home-icon {
    width: 24px; /* Ajusta el tamaño del icono */
    height: auto; /* Mantiene la proporción */
    margin-right: 10px; /* Espacio entre el icono y la barra de búsqueda */
}

.search-box input {
    flex: 1; /* Hacer que el input ocupe el espacio disponible */
    border: none;
    outline: none;
    padding: 10px; /* Espaciado interno del input */
}

.search-box svg {
    margin: 0; /* Eliminar márgenes innecesarios del SVG */
}
